/WebApplication-razar/bin
/WebApplication-razar/obj
/WebApplication1/.vs
/WebApplication1/obj
/WebApplication1/.vs
WebApplication1/.vs/WebApplication1/FileContentIndex/5b6f5e94-6842-4f61-b19a-fa8e33b81727.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/624812a9-534a-4784-b789-733d8577cdc3.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/e24496fe-8832-438c-98cb-33c3d1980fde.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/f610c272-90d4-4626-aefc-6b8e37e204c7.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/f6514287-af30-4a66-a66e-96a625da8dfc.vsidx
WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfo.cs
WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
WebApplication1/obj/Debug/net8.0/WebApplication1.assets.cache
WebApplication1/obj/Debug/net8.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/obj/project.assets.json
WebApplication1/obj/project.nuget.cache
WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
